{% extends 'base.html.twig' %}

{% block title %}AirPlay | Identification
{% endblock %}

{% block body %}
<div class="container">
	<div class="row justify-content-center">
		<div class="col-6 gx-0">
			{% if error %}
				<div class="mb-3 border border-0 rounded bg-danger w-100 text-white text-center py-2 message">
					{{ error.messageKey|trans(error.messageData, 'security') }}
				</div>
			{% endif %}
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-6">
			<form class="login-form" method="post">

				{% if app.user %}
				<div class="mb-3">
					Vous êtes identifier comme
					{{ app.user.username }},
					<a href="{{ path('app_logout') }}">Déconnection</a>
				</div>
				{% endif %}

				<h1 class="h3 mb-3 font-weight-normal text-center">S'identifier</h1>
				<label for="inputUsername" class="mb-1">Nom d'utilisateur</label>
				<input type="text" value="{{ last_username }}" name="username" id="inputUsername"
					class="form-control secure mb-3" autocomplete="username" required autofocus>

				<label for="inputPassword" class="mb-1">Mot de passe</label>
				<input type="password" name="password" id="inputPassword" class="form-control secure"
					autocomplete="current-password" required>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


				<div class="row justify-content-center">
					<div class="col text-center">
						<button class="btn btn-outline-warning text-center mt-3" type="submit">
							Connexion
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	{# Secure inputs values #}
	const inputsToSecure = document.querySelectorAll('.secure');
	const notWantedCharacters = new RegExp(/[<|>|/|\?]/);

	inputsToSecure.forEach(input => {
		input.addEventListener('change', () => {
			input.value.split('').forEach((character, index) => {
				if (character.match(notWantedCharacters)) {
					input.value = input.value.slice(0, index);
				}
			})
		})
	})
</script>
{% endblock %}