{% extends 'base.html.twig' %}

{% block title %} AirPlay | Ajouter un disque
{% endblock %}
{% block body %}

<div class="container">
	<h1 class="text-center mb-5">Modifier le disque</h1>
	<div class="row justify-content-center">
		<div class="col-5">
			{{ form_start(edit_disc_form) }}
			<div class="form-disc">
				<div class="form-column">
					<div class="row">
						{{ form_row(edit_disc_form.album, {'attr': {'class': 'mg-15 form-control mb-3'}}) }}
						<div class="col-6">
							{{ form_row(edit_disc_form.groupe , {'attr': {'class': 'mg-15 form-control mb-3'}}) }}
						</div>
						<div class="col-6">
							{{ form_row(edit_disc_form.label, {'attr': {'class': 'mg-15 form-control mb-3'}}) }}
						</div>
					</div>
					<div class="row">
						<div class="col-6">
							{{ form_row(edit_disc_form.type, {'attr': {'class': 'mg-15 form-select mb-3'}}) }}
							{{ form_row(edit_disc_form.genre, {'attr': {'class': 'mg-15 form-select mb-3'}}) }}
						</div>
						<div class="col-6">
							{{ form_row(edit_disc_form.nationality, {'attr': {'class': 'mg-15 form-select mb-3'}}) }}
							{{ form_row(edit_disc_form.language, {'attr': {'class': 'mg-15 form-select mb-3'}}) }}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-5">
			<div class="form-column">
				<div class="row">
					<div class="col-6">
						{{ form_row(edit_disc_form.arrivalDate, {'attr': {'class': 'mg-15 form-control mb-3'}}) }}
					</div>
					<div class="col-6">
						{{ form_row(edit_disc_form.leaveDate, {'attr': {'class': 'mg-15 form-control mb-3'}}) }}
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						{{ form_row(edit_disc_form.leaveName, {'attr': {'class': 'mg-15 form-control mb-3'}}) }}
					</div>
					<div class="col-6">
						{{ form_row(edit_disc_form.leaveReason, {'attr': {'class': 'mg-15 form-select mb-1'}}) }}
					</div>
				</div>

				<div class="row">
					<div class="col-12">
						<div class="d-flex justify-content-between align-items-center checkBox" style="height: 5.5rem;">
							{{ form_row(edit_disc_form.concert, {'attr': {'class': 'form-check-input mg-15 mb-1'}}) }}
							{{ form_row(edit_disc_form.aucard, {'attr': {'class': 'form-check-input mg-15 mb-1'}}) }}
							{{ form_row(edit_disc_form.ferarock, {'attr': {'class': 'form-check-input mg-15 mb-1'}}) }}
						</div>
						<div class="row">
							<div class="col-6">
								<div id="valueNumInventory" class="form-group" style="display: block;">
									<label for="numInventory">Numéro d'inventaire</label>
									<input name="numInventory" type="text" class="form-control"
										value={{disc.numInventory}} data-value={{numInventory}} readonly />
								</div>
							</div>
							<div class="col-6 mt-3 d-flex justify-content-center">
								{{ form_row(edit_disc_form.submit, {'attr': {'style': 'width: 12rem; margin:auto'}}) }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{ form_end(edit_disc_form) }}
	</div>
</div>

<script>
	const divCheck = document.querySelector('.checkBox');
	const divChildCheck = divCheck.childNodes;

	divChildCheck[1].classList.add('form-check');
	divChildCheck[1].classList.add('form-switch');
	divChildCheck[3].classList.add('form-check');
	divChildCheck[3].classList.add('form-switch');
	divChildCheck[5].classList.add('form-check');
	divChildCheck[5].classList.add('form-switch');

	const checkBox = document.querySelector('.form-check-input');
	console.log(checkBox);
	checkBox.setAttribute('role', 'switch');
</script>
<script>
	{# Attribute inventory numero #}
	// Gère le numéro d'inventaire à 0 ou non
	const numInventory = document.querySelector('#valueNumInventory input').getAttribute('data-value');

	const leaveDate = document.querySelector('#disc_leaveDate');
	leaveDate.addEventListener('change', () => {
		console.log(leaveDate);
		if (leaveDate.value == "") {
			document.querySelector('#valueNumInventory input').value = 0;
		} else if (document.querySelector('#valueNumInventory input').value == 0) {
			document.querySelector('#valueNumInventory input').value = numInventory;
		}
	});

	// Gère le boutton 'Générer numéro d'inventaire'
	const generateNumInventory = document.querySelector('#generateNumInventory');
	const valueNumInventory = document.querySelector('#valueNumInventory');
	if (generateNumInventory) {
		generateNumInventory.addEventListener('click', () => {
			valueNumInventory.style.display = 'block';
			generateNumInventory.remove();
		});
	}
</script>

{% endblock %}