{% extends 'base.html.twig' %}

{% block title %}Rechercher un disque
{% endblock %}

{% block body %}

<section class="container">
	<h2 class="text-center mb-5">Rechercher un disque</h2>

	{{ form_start(searchDiscForm) }}
	<div class="row justify-content-center">
		<div class="col-md-6 col-lg-3">
			{{ form_row(searchDiscForm.num_inventory, {'attr': {'class': 'form-control mb-3', 'placeholder': 'Saisissez un numéro'}}) }}
		</div>
		<div class="col-md-6 col-lg-3">
			{{ form_row(searchDiscForm.groupe, {'attr': {'class': 'form-control mb-3', 'placeholder': 'Saisissez un groupe'}}) }}
		</div>
		<div class="col-md-6 col-lg-3">
			{{ form_row(searchDiscForm.album, {'attr': {'class': 'form-control mb-3', 'placeholder': 'Saisissez un album'}}) }}
		</div>
		<div class="col-md-4">
			<label for="order-by">Filtre</label>
			<select class="form-control mb-3" name="order-by" id="order-by">
				<option value="">---</option>
				<option value="arrival">date de saisie</option>
				<option value="leave">date de mise en écoute</option>
				<option value="group">nom du groupe</option>
				<option value="label">nom du label</option>
				<option value="album">nom de l'album</option>
			</select>
		</div>
		<div class="col-md-4">
			<label for="order-by">Ordre</label>
			<select class="form-control mb-3" name="order" id="order">
				<option value="ASC">croissant</option>
				<option value="DESC">décroissant</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col text-center">
			{{ form_row(searchDiscForm.submit) }}
		</div>
	</div>
	{{ form_end(searchDiscForm) }}
</section>

<section class="container">
{% if discs %}
	<table class="table-search-disc table mt-5 text-center align-middle">
			<thead>
				<tr class="row w-100">
					<th>N° d'inventaire</th>
					<th>Groupe</th>
					<th>Album</th>
					<th>Label</th>
					{# <th>Emprunteur | raison</th> #}
					<th>Emprunteur | motif | date</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{# {% if discs %} #}
					{% for disc in discs %}
						<tr>
							<td>
								{% if disc.numInventory is not null %}
									{{ disc.numInventory }}
								{% else %}
									#
								{% endif %}
							</td>
							<td>{{ disc.groupe }}</td>
							<td>{{ disc.album }}</td>
							<td>{{ disc.label }}</td>
							<td>
								{% if disc.leaveName %}
									{{ disc.leaveName }} |
								{% else %}
									-- |
								{% endif %}
 
								{% if disc.leaveReason %}
									{{ disc.leaveReason.lib }} |
								{% else %}
									-- |
								{% endif %}
							
								{% if disc.leaveDate %}
									{{ disc.leaveDate|format_datetime('short', 'none', locale='fr') }}
								{% else %}
									--
								{% endif %}
							</td>
							<td>
							{% if is_granted('ROLE_BENEVOLE') %}
								<a href="#" class="table-link btn btn-outline-dark me-2 disabled">
									<i class="fa-solid fa-pencil"></i>
								</a>
								<a href="#" class="table-link btn btn-outline-dark disabled">
									<i class="fa-solid fa-trash-can"></i>
								</a>
							{% else %}
								<a href="{{ path('edit_disc', {'id': disc.id}) }}" class="table-link btn btn-outline-dark me-2">
									<i class="fa-solid fa-pencil"></i>		
								</a>
								<a href="{{ path('delete_disc', {'id': disc.id, 'page': currentPage, 'parameters': parameters}) }}" class="table-link btn btn-outline-dark delete">
									<i class="fa-solid fa-trash-can"></i>
								</a>
							{% endif %}
							</td>
						</tr>
					</th>
				</tr>
			{% endfor %}
			{# {% endif %} #}
		</tbody>
	</table>
{% endif %}
</section>

{% if count > 15 %}
	{% if currentPage != null and totalPages != null and parameters != null %}
		<section class="container d-flex justify-content-center w-50">
			<ul class="pagination overflow-auto">
				{% if currentPage != 1 %}
					<li class="m-4 page-item">
						<a href="{{ path('search_disc', {'page': (currentPage - 1), 'parameters': parameters}) }}" class="page-link">&lsaquo;</a>
					</li>
				{% endif %}

				{% for i in 1..totalPages %}
					{% if i == currentPage %} 
						<li class="m-4 page-item disabled">
							<a href="{{ path('search_disc', {'page': i, 'parameters': parameters}) }}" class="page-link">
								{{ i }}
							</a>
						</li>
					{% else %}
						<li class="m-4 page-item">
							<a href="{{ path('search_disc', {'page': i, 'parameters': parameters}) }}" class="page-link">
								{{ i }}
							</a>
						</li>
					{% endif %}
				{% endfor %}
				
				<li class="m-4 page-item">
					<a href="{{ path('search_disc', {'page': (currentPage + 1), 'parameters': parameters}) }}" class="page-link">
						&rsaquo;
					</a>
				</li>
			</ul>
		</section>
	{% endif %}
{% endif %}

{% endblock %}