{% extends 'base.html.twig' %}

{% block title %}Rechercher un disque
{% endblock %}

{% block body %}

<section class="container">
	<h2 class="text-center mb-5">Rechercher un disque</h2>

	{{ form_start(searchDiscForm) }}
	<div class="row justify-content-center">
		<div class="col-md-6 col-lg-4">
			{{ form_row(searchDiscForm.num_inventory, {'attr': {'class': 'form-control mb-3'}}) }}
		</div>
		<div class="col-md-6 col-lg-4">
			{{ form_row(searchDiscForm.groupe, {'attr': {'class': 'form-control mb-3'}}) }}
		</div>
		<div class="col-md-6 col-lg-4">
			{{ form_row(searchDiscForm.album, {'attr': {'class': 'form-control mb-3'}}) }}
		</div>
	</div>
	<div class="row">
		<div class="col text-center">
			{{ form_row(searchDiscForm.submit) }}
		</div>
	</div>
	{{ form_end(searchDiscForm) }}
</section>

<section class="container">
	<table class="table-search-disc table mt-5 text-center align-middle">
			<thead>
				<tr>
					<th>Numéro d'inventaire</th>
					<th>Groupe</th>
					<th>Album</th>
					<th>Label</th>
					<th>Date</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% if discs %}
					{% for disc in discs %}
						<tr>
							<td>
								{% if disc.numInventory %}
									{{ disc.numInventory }}
								{% else %}
									0
								{% endif %}
							</td>
							<td>{{ disc.groupe }}</td>
							<td>{{ disc.album }}</td>
							<td>{{ disc.label }}</td>
							<td>
								{% if disc.leaveDate %}
									{{ disc.leaveDate|format_datetime('short', 'none', locale='fr') }}
								{% else %}
									en écoute
								{% endif %}
							</td>
							<td>
							{% if not is_granted('ROLE_BENEVOLE') %}
								<a href="{{ path('edit_disc', {'id': disc.id}) }}" class="table-link btn btn-outline-dark mt-2">Modifier</a>
								<a href="{{ path('delete_disc', {'id': disc.id, 'page': currentPage, 'parameters': parameters}) }}" class="table-link btn btn-outline-dark mt-2">Supprimer</a>
							{% else %}
								<a href="{{ path('edit_disc', {'id': disc.id}) }}" class="table-link btn btn-outline-dark mt-2" disabled>
									Modifier
								</a>
								<a href="{{ path('delete_disc', {'id': disc.id, 'page': currentPage, 'parameters': parameters}) }}" class="table-link btn btn-outline-dark mt-2" disabled>
									Supprimer
								</a>
							{% endif %}
							</td>
						</tr>
					</th>
				</tr>
			{% endfor %}
			{% endif %}
		</tbody>
	</table>
</section>

{% if count > 15 %}
	{% if currentPage != null and totalPages != null and parameters != null %}
		<section class="container d-flex justify-content-center w-50">
			<ul class="pagination overflow-scroll">
				{% if currentPage != 1 %}
					<li class="m-4 page-item">
						<a href="{{ path('search_disc', {'page': (currentPage - 1), 'parameters': parameters}) }}" class="page-link">&lsaquo;</a>
					</li>
				{% endif %}

				{% for i in 1..totalPages %}
					{% if i == currentPage %} 
						<li class="m-4 page-item disabled">
							<a href="{{ path('search_disc', {'page': i, 'parameters': parameters}) }}" class="page-link">
								{{ i }}
							</a>
						</li>
					{% else %}
						<li class="m-4 page-item">
							<a href="{{ path('search_disc', {'page': i, 'parameters': parameters}) }}" class="page-link">
								{{ i }}
							</a>
						</li>
					{% endif %}
				{% endfor %}
				
				<li class="m-4 page-item">
					<a href="{{ path('search_disc', {'page': (currentPage + 1), 'parameters': parameters}) }}" class="page-link">
						&rsaquo;
					</a>
				</li>
			</ul>
		</section>
	{% endif %}
{% endif %}

{% endblock %}