{% extends 'base.html.twig' %}

{% block title %}Rechercher un disque
{% endblock %}

{% block body %}

	<section class="container">
		<h2 class="text-center mb-5">Rechercher un disque</h2>

		{{ form_start(searchDiscForm) }}
		<div class="row justify-content-center">
			<div class="col-md-6 col-lg-4">
				{{ form_row(searchDiscForm.num_inventory, {'attr': {'class': 'form-control mb-3'}}) }}
			</div>
			<div class="col-md-6 col-lg-4">
				{{ form_row(searchDiscForm.groupe, {'attr': {'class': 'form-control mb-3'}}) }}
			</div>
			<div class="col-md-6 col-lg-4">
				{{ form_row(searchDiscForm.album, {'attr': {'class': 'form-control mb-3'}}) }}
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
				{{ form_row(searchDiscForm.submit) }}
			</div>
		</div>
		{{ form_end(searchDiscForm) }}
	</section>

	<section class="container">
		<table class="table mt-5 text-center align-middle">
			<thead>
				<tr>
					<th>Numéro d'inventaire</th>
					<th>Groupe</th>
					<th>Album</th>
					<th>Nombre de passage</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% if discs %}
					{% for disc in discs %}
						<tr>
							<td class="align-self-center">{{ disc.numInventory }}</td>
							<td>{{ disc.groupe }}</td>
							<td>{{ disc.album }}</td>
							<td>{{ disc.label }}</td>

							{# {% if disc.type %}
																																																																																																																	<td>{{ disc.type.type }}</td>
																																																																																																																{% else %}
																																																																																																																	<td></td>
																																																																																																																{% endif %}
																																																																																																									
																																																																																																																{% if disc.genre %}
																																																																																																																	<td>{{ disc.genre.genre }}</td>
																																																																																																																{% else %}
																																																																																																																	<td></td>
																																																																																																																{% endif %}
																																																																																																									
																																																																																																																{% if disc.nationality %}
																																																																																																																	<td>{{ disc.nationality.nationality }}</td>
																																																																																																																{% else %}
																																																																																																																	<td></td>
																																																																																																																{% endif %}
																																																																																																									
																																																																																																																{% if disc.language %}
																																																																																																																	<td>{{ disc.language.language }}</td>
																																																																																																																{% else %}
																																																																																																																	<td></td>
																																																																																																																{% endif %}
																																																																																																									
																																																																																																																<td>{{ disc.arrivalDate|date("m/d/Y") }}</td>
																																																																																																									
																																																																																																																{% if disc.leaveDate %}
																																																																																																																	<td>{{ disc.leaveDate|date("m/d/Y") }}</td>
																																																																																																																{% else %}
																																																																																																																	<td></td>
																																																																																																																{% endif %}
																																																																																																									
																																																																																																																{% if disc.leaveName %}
																																																																																																																	<td>{{ disc.leaveName }}</td>
																																																																																																																{% else %}
																																																																																																																	<td></td>
																																																																																																																{% endif %}
																																																																																																									
																																																																																																																{% if disc.leaveReason %}
																																																																																																																	<td>{{ disc.leaveReason.sortie }}</td>
																																																																																																																{% else %}
																																																																																																																	<td></td>
																																																																																																																{% endif %}
																																																																																																									
																																																																																																																{% if disc.aucard %}
																																																																																																																	<td>{{ disc.aucard }}</td>
																																																																																																																{% else %}
																																																																																																																	<td>0</td>
																																																																																																																{% endif %}
																																																																																																									
																																																																																																																{% if disc.concert %}
																																																																																																																	<td>{{ disc.concert }}</td>
																																																																																																																{% else %}
																																																																																																																	<td>0</td>
																																																																																																																{% endif %}
																																																																																																									
																																																																																																																{% if disc.ferarock %}
																																																																																																																	<td>{{ disc.ferarock }}</td>
																																																																																																																{% else %}
																																																																																																																	<td>0</td>
																																																																																																																{% endif %} #}

							<td>
								<a href="{{ path('edit_disc', {'id': disc.id}) }}" class="table-link btn btn-outline-dark mt-2">Modifier</a>
								<a href="{{ path('delete_disc', {'id': disc.id}) }}" class="table-link btn btn-outline-dark mt-2">Supprimer</a>
							</td>

						</tr>
					</th>
				</tr>
			{% endfor %}
		{% endif %}
	</tbody>
</table></section>{% endblock %}
