{% extends 'base.html.twig' %}

{% block title %}Éditer des statistiques{% endblock %}

{% block body %}
{# {{ dump(users) }}
{{ dump(nationalities) }} #}

    <div class="container">
    <form>
        {# <input type="checkbox" name="tourangeau"></input> #}

        {# <label>Animateur</label>
        <select name="animator" class="form-select" id="skill">
            <option></option>
            {% for user in users %}
                <option>{{ user.username }}</option>
            {% endfor %}
        </select> #}

        <label>Date de début</label>
        <input type="date" method="POST" placeholder="Choisissez une date de début" role="search" name="date_start"></input>

        <label>Date de fin</label>
        <input type="date" method="POST" placeholder="Choisissez une date de fin" role="search" name="date_end"></input>

        <label>Date d'entrée en playlist</label>
        <input type="date" method="POST" placeholder="Choisissez une date de saisie" role="search" name="date_playlist"></input>

        <label>Provenance</label>
        <select name="nationality" class="form-select" id="nationality">
            <option></option>
            {% for nationality in nationalities %}
                <option>{{ nationality.lib }}</option>
            {% endfor %}
        </select>

        <label>Langue</label>
        <select name="language" class="form-select" id="language">
            <option></option>
            <option>Francophone</option>
            <option>Anglophone</option>
        </select>

        <label>Nom de la playlist</label>
        <input type="text" method="POST" placeholder="Nommez votre playlist" name="name"></input>

        <label>Nombre de titres</label>
        <input type="number" method="POST" placeholder="Nombre de titre" name="number"></input>

        <select method="POST" name="classement">
            <option value="stats">Statistique</option>
            <option value="">Export</option>
            <option value="">Export CMS</option>
            <option value="nbPerDisc">Nombre de passage par disque</option>
        </select>
        
        <button type="submit" id="search">Générer</button>

        <section class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th>Catégorie</th>
                        <th>Nombre de disque</th>
                        <th>Pourcentage</th>
                    </tr>
                </thead>
                <tbody>
                    {% if resultsGenre %}
                    <tr><td><strong>Genre</strong></td></tr>
                    {% for genre in resultsGenre %}
                    <tr>
                        {% for key in genre|keys %}
                            {% if key == 2 %}
                            <td>{{ genre[key]|number_format(2, '.') }}%</td>
                            {% else %}
                            <td>{{ genre[key] }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    {% endif %}

                    {% if resultsNatio %}
                    <tr><td><strong>Nationalité</strong></td></tr>
                    {% for natio in resultsNatio %}
                    <tr>
                        {% for key in natio|keys %}
                            {% if key == 2 %}
                            <td>{{ natio[key]|number_format(2, '.') }}%</td>
                            {% else %}
                            <td>{{ natio[key] }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    {% endif %}

                    {% if resultsType %}
                    <tr><td><strong>Type</strong></td></tr>
                    {% for type in resultsType %}
                    <tr>
                        {% for key in type|keys %}
                            {% if key == 2 %}
                            <td>{{ type[key]|number_format(2, '.') }}%</td>
                            {% else %}
                            <td>{{ type[key] }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        
        </section>
    </form>
    <div/>
{% endblock %}
