{% extends 'base.html.twig' %}

{% block title %}AirPlay | ma playlist{% endblock %}

{% block body %}

	<div class="container">

		<div class="header">
			<h1>Playlist
				{{ playlist.name }}
				par
				{{ playlist.animator }}</h1>
			<h2>{{ playlist.entryDate|date("d/m/Y") }}</h2>
		</div>

		<form action="{{ path('add_disc_playlist', {'playlist': playlist.id}) }}">
			<div class="row justify-content-center w-100">
				<div class="col-md-6 my-3">
					<label for="numero">Numéro d'inventaire</label>

					<div class="d-flex">
						<input type="text" placeholder="Numéro d'inventaire" name="disc" id="numero" class="form-control me-3">
						<button type="submit" class="btn btn-outline-dark">
							<i class="fas fa-plus"></i>
						</button>
					</div>
				</div>
			</div>
		</form>

		<div class="row justify-content-center mb-5">
			{% set i = 1 %}
			{% for list in playlist.playlistHasDiscs %}
				<div class="col-md-auto gy-2">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">D{{ i }}
								-
								{{ list.disc.numInventory }}</h5>
							<p class="card-text">Album :
								{{ list.disc.album }}</p>
							<p class="card-text">Groupe :
								{{ list.disc.groupe }}</p>
							<p class="card-text">Label :
								{{ list.disc.label }}</p>
							<div class="d-flex justify-content-end">
								<a class="card-delete" href="{{ path('delete_disc_playlist', {'id': list.id}) }}" class="btn btn-secondary">
									<i class="fa-solid fa-trash-can"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
				{% set i = i + 1 %}
			{% endfor %}
		</div>

	</div>
{% endblock %}
