{% extends 'base.html.twig' %}

{% block title %}Airplay - les utilisateurs{% endblock %}

{% block body %}

<section class="container">
    <h2 class="text-center mb-5">Les utilisateurs</h2>

    {# {{ form_start(searchDiscForm) }}
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                {{ form_row(searchDiscForm.num_inventory, {'attr': {'class': 'form-control mb-3'}}) }}
            </div>
            <div class="col-md-6 col-lg-4">
                {{ form_row(searchDiscForm.groupe, {'attr': {'class': 'form-control mb-3'}}) }}
            </div>
            <div class="col-md-6 col-lg-4">
                {{ form_row(searchDiscForm.album, {'attr': {'class': 'form-control mb-3'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                {{ form_row(searchDiscForm.submit) }}
            </div>
        </div>
    {{ form_end(searchDiscForm) }} #}
</section>

<section class="container">
    <table class="table mt-5 text-center align-middle">
        <thead>
            <tr>
                <th>Numéro</th>
                <th>Nom</th>
                <th>Roles</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% if users %}
                {% for index, user in users %}
                    <tr>
                        <td class="align-self-center">
                            {{ index + 1 }}
                        </td>
                        <td>{{ user.username }}</td>
                        <td>
                            {% if 'ROLE_SUPERADMIN' in user.roles %}
                                super-administrateur
                            {% elseif 'ROLE_ADMIN' in user.roles %}
                                administrateur
                            {% elseif 'ROLE_BENEVOLE' in user.roles %}
                                bénévole
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('modify_user', {'id': user.id}) }}" class="table-link btn btn-outline-dark mt-2">
                                Modifier
                            </a>
                            <a href="{{ path('delete_user', {'id': user.id}) }}" class="table-link btn btn-outline-dark mt-2">
                                Supprimer
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</section>

{% endblock %}
